*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

.clearfix:after{
    content:' ';
    display: table;
    clear:both;
}

body{
    width: 80%;
    margin: 30px auto;
}

.box{
    width: 100%;
    height: 100px;
    background-color: magenta;
}

.box2{
    width: 100%;
    height: 500px;
    background-color: yellow;
    margin: 20px 0;
}

.titolo{
    width: 100%;
    height: 80px;
    background-color: aqua;
}

.sinistra{
    width: 15%;
    height: 500px;
    background-color: aqua;
    margin: 15px 15px 15px 0px;
    float: left;
}

 .centrale{
    width: 65%;
    height: 500px;
    background-color: aqua;
    margin: 15px 15px 15px 15px;
    display: inline-block;
} 

.destra{
    width: 15%;
    height: 500px;
    background-color: aqua;
    margin: 15px 0px 15px 15px;
    float: right;
}